@{ ViewBag.Title = "title";
    //Layout = "_Layout"
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1><p>Good morning. Hello .Net Core</p></h1>
</body>
</html>