@model Product
@{
    ViewBag.Title = "title";
    //Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p>Product Name:@Model.Name</p>
<p>Price:@Model.Price</p>
<p>Description:@Model.Description</p>
</body>
</html>
