@model ProductViewModel
@{
    Layout = "_Layout";

    var popularClass = Model.Products.Count > 1 ? "popular" : "";
    var products = Model.Products;
}

@section Categories
{
    @await Component.InvokeAsync("Categories")
}


        @* Products *@

        @if (Model.Products.Count == 0)
        {
            <partial name="_NoProduct" />
        }
        else
        {

            <div class="row">
                @foreach (var product in products)
                {

                    <div class="col-md-3">
                        @await Html.PartialAsync("_Product", product)
                    </div>
                }

            </div>
        }
  
