<header>
    <div class="jumbotron jombotron-fluid">
        <div class="container">
            <h1 class="display-4">
                Shop App
            </h1>
            <p class="lead">
                Lorem, ipsum dolor.
            </p>
        </div>
    </div>
</header>
