@* <header>
    <div class="jumbotron jombotron-fluid">
        <div class="container">
            <h1 class="display-4">
                Shop App
            </h1>
            <p class="lead">
                Lorem, ipsum dolor.
            </p>
        </div>
    </div>
</header> *@

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="background-color:#c5cbe3">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/photo-1574771540177-1b67712f6c6e.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
