<div class="navbar navbar-light navbar-expand-sm" style="background-color: #c5cbe3;">
    <div class="container">
        <a href="/" class="navbar-brand">ShopApp</a>
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a asp-controller="Shop" asp-action="List" class="nav-link">
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a href="/Product/Create" class="nav-link">
                    Cart
                </a>
            </li>
            <li class="nav-item">
                <a href="/Product/Create" class="nav-link">
                    Orders
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Products" class="nav-link">
                    Admin Products
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Categories" class="nav-link">
                    Admin Categories
                </a>
            </li>
        </ul>

        
    </div>
</div>