<div class="navbar navbar-light navbar-expand-sm" style="background-color: #c5cbe3;">
    <div class="container">
        <a href="/" class="navbar-brand">ShopApp</a>
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a href="/Products" class="nav-link">
                    Products
                </a>
            </li>

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="Cart" class="nav-link">
                        Cart
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Product/Orders" class="nav-link">
                        Orders
                    </a>
                </li>
                @if (User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a href="/Admin/Products" class="nav-link">
                            Admin Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Categories" class="nav-link">
                            Admin Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Role/List" class="nav-link">
                            Admin Roles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/User/List" class="nav-link">
                            Admin Users
                        </a>
                    </li>
                }

            }
        </ul>



        <ul class="navbar-nav ml-auto">
            @* Kullanıcı giriş yaptıysa *@
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="/Account/Manage" class="nav-link">
                        @User.Identity.Name
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Logout" class="nav-link">
                        Logout
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login" class="nav-link">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Register" class="nav-link">
                        Register
                    </a>
                </li>
            }
        </ul>
    </div>
</div>