@model Product

<div class="card mb-3">
    <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <small class="text-muted">
            <i class="fa fa-usd">@Model.Price
            </i> 
        </small>
    </div>
    <div class="card-footer text-center">
        <a asp-controller="Shop" asp-action="Details" asp-route-url="@Model.Url"
           class="btb btn-primary btn-sm mr-1">
            <i class="fa fa-eye"></i> Details
        </a>
        <a asp-controller="Shop" asp-action="AddToCart" asp-route-id="@Model.ProductId"
           class="btn btn-warning btn-sm mr-1">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart
        </a>
    </div>
</div>
