
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Product

<div class="card mb-3">
    <img class="card-img-top"
         src="~/img/@Model.ImageUrl"
         alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">
            @Model.Description
        </p>
        @* <a href="/Product/Details/@Model.ProductId" class="btn btn-primary">View</a>
            Aşağıdaki kullanımımla aynı işi görür.*@
        <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId" class="btn btn-primary">View</a>
    </div>
</div>