
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Product

<div class="card">
    <img class="card-img-top"
         src="https://cdn.cnbj1.fds.api.mi-img.com/product-images/mi10ultra/index_del_list3.png"
         alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">
            @Model.Description
        </p>
        <a href="" class="btn btn-primary">View</a>
    </div>
</div>