<div class="card mt-3">
    <div class="card-header">
        <h5>Search</h5>
    </div>

    <div class="card-body">
        <form action="/Search" class="my-2 my-lg-0">
            <div class="form-group">
                <input name="q" class="form-control" type="search" aria-label="Search">
            </div>

            <button class="btn btn-primary btn-sm btn-block" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>



