@model ProductListViewModel


<div class="row">
    <div class="col-md-12">
        <h1>Admin Products</h1>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Products.Count > 0)
                {
                    @foreach (var product in @Model.Products)
                    {
                        <tr>

                            <td style="width: 30px;">@product.ProductId</td>
                            <td style="width: 100px;"><img src="~/img/@product.ImageUrl" style="width: 80px; height: 150px;" /></td>
                            <td>@product.Name</td>
                            <td style="width: 20px;">@product.Price</td>
                            <td>
                                <a href="/Admin/Products/@product.ProductId" class="btn btn-primary btn-sm mr-2">Edit</a>
                                <a href="#" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                }

                else
                {
                <partial name="_NoProduct"/>
                }


            </tbody>
        </table>

    </div>
</div>
