@model ProductListViewModel
@section Styles
{
    <style>
        body {
            background-color: #eeeeee;
            font-family: 'Open Sans', serif;
            font-size: 14px
        }

        .mt-100 {
            margin-top: 150px
        }

        .filter-group {
            border-bottom: 1px solid #e4e4e4
        }

        .card {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 0.37rem
        }

        .card-header {
            padding: 0.75rem 1.25rem;
            margin-bottom: 0;
            background-color: #fff;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        }

        .filter-group .card-header {
            border-bottom: 0
        }

        .icon-control {
            margin-top: 6px;
            float: right;
            font-size: 80%
        }

        .list-menu {
            list-style: none;
            margin: 0;
            padding-left: 0
        }

        .list-menu a {
            color: #343a40
        }

        a {
            text-decoration: none !important;
            background-color: transparent
        }

        .checkbox-btn {
            position: relative
        }

        .checkbox-btn input {
            position: absolute;
            z-index: -1;
            opacity: 0
        }

        .checkbox-btn input:checked~.btn {
            border-color: #3167eb;
            background-color: #3167eb;
            color: #fff
        }

        .btn-light {
            display: inline-block;
            font-weight: 600;
            color: #343a40;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #eee;
            border: 1px solid #eee;
            padding: 0.45rem 0.85rem;
            font-size: 10px;
            line-height: 1.5;
            border-radius: 0.37rem
        }

        .btn-light:hover {
            background-color: #fff;
            border-color: #989898
        }

        .btn-medium {
            font-size: 12px;
            padding: 10px 22px;
            display: inline-block;
            margin-right: 20px;
            letter-spacing: 2px;
            border: 1px solid #157af6;
            width: 100%
        }

        .highlight-button:hover {
            background-color: #157af6;
            border: 2px solid #157af6;
            color: #fff
        }

        .custom-control {
            position: relative;
            display: block;
            min-height: 1.5rem;
            padding-left: 1.5rem
        }
    </style>
}

<div class="row">





    <div class="col-md-3">
        @await Component.InvokeAsync("Categories")
    </div>


    @if (Model.Products.Count > 0)
    {

        <div class="col-md-9">
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4 mb-3">
                        @await Html.PartialAsync("_Product", product)
                    </div>
                }
            </div>

            <div class="row">
                <div class="col">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">

                            @for (int i = 0; i < Model.PageInfo.TotalPages(); i++)
                            {
                                if (Model.PageInfo.TotalPages() > 1)
                                {
                                    @if (String.IsNullOrEmpty(Model.PageInfo.CurrentCategory))
                                    {
                                        <li class="page-item @(Model.PageInfo.CurrentPage == i + 1 ? "active" : "")">
                                            <a class="page-link" href="/Products?page=@(i + 1)">
                                                @(i + 1)
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item @(Model.PageInfo.CurrentPage == i + 1 ? "active" : "")">
                                            <a class="page-link" href="/Products/@Model.PageInfo.CurrentCategory?page=@(i + 1)">
                                                @(i + 1)
                                            </a>
                                        </li>
                                    }
                                }



                            }


                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-9">
            <partial name="_NoProduct" />
        </div>
    }

    

</div>



@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
}